body {
 background-color: #F1F1F1;
}
h1{
	font-family: Montserrat;
}
.cover{
	padding-top:100px;
}
.page-wrapper {
 width: 773px;
 margin: auto;
}
.about-me{
	padding-top:100px;
	font-family: open sans;
}
.process{
	padding-top: 100px;
}
.work-links{
font-family: montserrat;

}
.work-links ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}
.work-links li {
    display: inline;
    float: left;
}
.work-links a{
	padding:20px;
    width: 150px;
}
.floaty-box{
	padding-top:100px;
	padding-left:150px;
}
.footer{
	padding:15px;
	padding-top: 100px;
}
