<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}

section {
    width:350px;
    float:left;
    padding:10px; 
}
footer {

    
    color:white;
    
    text-align:center;
    padding:5px; 
}


#foottable
{
    background-color: white;
    color:black;
    margin:25px;
    padding-left:25px;
    padding-right:25px;
    border:1px solid black;
    line-height: 36px;
    font-family: 'Montserrat', sans-serif;
}
#footname
 {
    font-size: 15pt;
    color:black;
}
#logo
 {
    font-size: 24pt;
    text-align: center;
   color:black;

}
#contactinfo{
    font-size: 15px;
    color:black;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif, 24px;
}


