<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}
body{
    padding-left: 55px;
}
.jumbotron{
    background-image: url(jumbotron.svg), none;
}

section {
    width:755px;
    font-family: 'Open Sans', sans-serif;
    float:left;
    padding:10px; 
}
#fancystyles{
    margin-left: -2px;
}
#floatybox{
    padding-left: 150px;
    clear:both;
}
footer {

    
    color:white;
    
    text-align:center;
    padding:5px; 
}
h1{
padding:5px;
font-family: 'Montserrat', sans-serif;
}

#foottable
{
    background-color: transparent;
    color:black;
    margin:25px;
    padding-left:25px;
    padding-right:25px;
    border:none;

}
#footname
 {
    font-size: 15pt;
    color:black;
}
#logo
 {
    font-size: 24pt;
    text-align: center;
   color:black;

}
#contactinfo{
    font-size: 15px;
    color:black;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif, 24px;
}


