html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.header-content h1{
	margin-top: 20vh;
}
.header-content span{
	white-space: nowrap;
}
.container{
	margin-bottom: 70px;
	padding-top:15px;
}
.flexxx{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 20px;
}
#about .flexxx{
	justify-content: flex-start;
}
.skilltile{
	display: block;
	width: auto;
	padding: 10px 10px 10px 10px;
	border-left: 1px white solid;
	border-bottom: 1px white solid;
}
.skilltile:hover{
	border-left: 1px black solid;
	border-bottom: 1px black solid;
}
.worktile{
	display: inline-block;
	width: auto;
	min-width: 120px;
	padding: 5px 5px 5px 5px;
	border-left: 1px white solid;
	border-bottom: 1px white solid;
}
.worktile:hover{
	border-left: 1px black solid;
	border-bottom: 1px black solid;
}
.worktile img{
	display: block;
	z-index: -1;
	max-height: 100px;
	margin-bottom: 8px;
	text-align: center;
}
.worktile span{
	text-align: left;
	white-space: nowrap;
}
.remodal p{
	text-align: left;
}


#lol .container{
	color: #D3D3D3;
}
#lol a{
	color:white;
}

#lol:hover{
	background-color: #D3D3D3;
}
.white{
	color: #ffffff;
}
.otherclients{
	padding-top: 20px;
}
.otherclients {

}